@font-face
{ 
    font-family: 'Roboto-Thin';
    src: url('../../font/Roboto-Thin.ttf');
    font-display: swap;
}
.Roboto-Thin
{
    font-family: "Roboto-Thin";

}
@font-face
{ 
    font-family: 'Roboto-Light';
    src: url('../../font/Roboto-Light.ttf');
    font-display: swap;
}
.Roboto-Light
{
    font-family: "Roboto-Light";

}
@font-face
{ 
    font-family: 'Roboto-Medium';
    src: url('../../font/Roboto-Medium.ttf');
    font-display: swap;

}
.Roboto-Medium
{
  font-family: "Roboto-Medium";

}
@font-face
{ 
    font-family: 'Shrikhand-Regular';
    src: url('../../font/Shrikhand-Regular.ttf');
    font-display: swap;
}

.Shrikhand-Regular
{
    font-family: "Shrikhand-Regular";
}